
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f7fa;
  font-family: "Poppins", sans-serif;
  color: #222;
  background-color: #ffffff;
  line-height: 1.6;
}

section {
  padding: 70px 20px;
  max-width: 1100px;
  margin: auto;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
  position: relative;
}

h2::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #eaeaea;
  display: block;
  margin-top: 8px;
  border-radius: 10px;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  background: #161616;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0,0,0,0.06);
  position: sticky;
  top: 0;
  z-index: 99;
}

.nav .logo {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
}
.nav .logo:hover{
  color: #aaa9af;
}

.nav ul {
  display: flex;
  gap: 25px;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: #fafafa;
  font-weight: 500;
  transition: 0.3s;
}

.nav ul li a:hover {
  color: #625959;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
}

.hero .text {
  max-width: 500px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #111;
}

.hero p {
  margin-top: 12px;
  font-size: 1.2rem;
  color: #555;
}

.hero-img {
  width: 350px;
  border-radius: 16px;
  box-shadow: 0 8px 22px rgba(0,0,0,0.15);
  margin-top: 30px;
}


.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}

.card a {
  display: inline-block;
  margin-top: 8px;
  color: #000000;
  font-weight: 500;
}


.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
}

.skill {
  padding: 10px 20px;
  background: #e5e7ff;
  color: #000000;
  border-radius: 30px;
  font-weight: 500;
  border: 1px solid #d4d7ff;
}


.btn {
  padding: 12px 25px;
  background: #000000;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

.btn:hover {
  background: #000000;
}


.contact-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  transition: 0.2s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #000000;
}

.contact-form textarea {
  min-height: 120px;
}


@media (max-width: 768px) {
  .hero {
    text-align: center;
    flex-direction: column;
  }

  .hero-img {
    width: 75%;
  }

  .nav ul {
    display: none;
  }
}
